body
{
  overflow: auto;
  /*background-color: #073779;*/
}

body, input, select, textarea
{
  font-family: 'Arial', 'Helvetica', sans-serif;
}

/*  Changes the font-size to 80%. 
    Font-size is compatible with all browsers for pages displayed in standard mode. (The default for ASP.NET projects) */
/*  Theoretically intended settings. */
body
{
  /* Font-Size in body must be in percent. Otherwise IE has a cascading bug. */  
  font-size: 80%; 
}

body.mozilla  td,
body.webkit   td,
body.opera    td,
body.mozilla  th,
body.webkit   th,
body.opera    th
{
  font-size: 100%;
}

/*  Style applied to the title cell  */
/*  Style applied to the sub title cell  */
td.formGridTitleCell,
td.formGridSubTitleCell
{
  font-size: 100%;
}

body.mozilla  td.formGridTitleCell,
body.webkit   td.formGridTitleCell,
body.opera    td.formGridTitleCell,
body.mozilla  td.formGridSubTitleCell,
body.webkit   td.formGridSubTitleCell,
body.opera    td.formGridSubTitleCell
{
  font-size: 125%;
}

/*  Style applied to the BocList's in-place menu  */
td.contentMenuRow
{
  font-size: 64%;
}

body.mozilla  td.contentMenuRow,
body.webkit   td.contentMenuRow,
body.opera    td.contentMenuRow
{
  font-size: 80%;
}

/* No scaling without a reference value */
input,
textarea,
select,
button
{
  font-size: 100%;
}

/*  The headings do not automatically scale with the body's font-size. Now they do. 
    The font-size relation between headings and body is maintained with the used percentages. */
h1
{
  font-size: 200%;
}

h2
{
  font-size: 150%;
}

h3
{
  font-size: 125%;
}

h4
{
  font-size: 100%;
}

h5
{
  font-size: 80%;
}

h6
{
  font-size: 60%;
}

/*  All anchor elements on the page. */
a
{
  text-decoration: none;
  color: Blue;
}

/*  All elements sporting the class "disabled". */
.disabled,
.disabled input,
.disabled select,
.disabled textarea,
.disabled label
{
  color: Gray;
}

img.Icon
{
  vertical-align: top;
  border-style: none;
}
