@import url("TabStrip.css");

/* Non-IE Browsers hack \*/
html > body div.tabbedMultiViewActiveView
{
  width: inherit;
}
/* End Non-IE Browsers hack\*/

div.tabbedMultiView
{
  margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
  background-color: #083779;
}

div.tabbedMultiView div.wrapper
{
  position: relative;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: auto;
  height: auto;
}

div.tabbedMultiView div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.tabbedMultiViewActiveView
{
  overflow: hidden;
  margin-top: -1px;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
}

div.tabbedMultiViewActiveView div.contentBorder
{
  position: relative;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 0.25em;
  border-top:  solid 1px transparent;
  border-left:  solid 1px #083779;
  border-right:  solid 1px #083779;
  border-bottom:  solid 1px #083779;
}

div.tabbedMultiViewActiveView *.top, 
div.tabbedMultiViewActiveView *.left, 
div.tabbedMultiViewActiveView *.bottom, 
div.tabbedMultiViewActiveView *.right, 
div.tabbedMultiViewActiveView *.topLeft,
div.tabbedMultiViewActiveView *.bottomLeft, 
div.tabbedMultiViewActiveView *.topRight, 
div.tabbedMultiViewActiveView *.bottomRight
{
  display: none;
}

div.tabbedMultiViewActiveView *.topLeft, 
div.tabbedMultiViewActiveView *.bottomLeft, 
div.tabbedMultiViewActiveView *.topRight, 
div.tabbedMultiViewActiveView *.bottomRight
{
  position: absolute;
  font-size: 0.5%;
  display: block;
  background-image: url(../Image/CornerBackgroundWhiteTransparentBlueBorder.gif);
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}

div.tabbedMultiViewActiveView *.topLeft
{
  background-position: top left;
  top: 0px;
  left: 0px;
}

div.tabbedMultiViewActiveView *.topRight
{
  background-position: top right;
  top: 0px;
  right: 0px;
}

div.tabbedMultiViewActiveView *.bottomLeft
{
  background-position: bottom left;
  bottom: 0px;
  left: 0px;
}

div.tabbedMultiViewActiveView *.bottomRight
{
  background-position: bottom right;
  bottom: 0px;
  right: 0px;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewTopControls
{
  padding: 0;
  overflow: hidden;
}

div.tabbedMultiViewTopControls.emtpy
{
  height: 1em;
  background-color: White;
}

div.tabbedMultiViewTabStrip div
{
  position: static;
  left: auto;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewBottomControls
{
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
}

div.tabbedMultiViewBottomControls.emtpy
{
}

div.tabbedMultiViewBottomControls *.bottomLeft, 
div.tabbedMultiViewBottomControls *.bottomRight
{
  position: absolute;
  width: 5px;
  height: 5px;
  font-size: 0.5%;
  display: block;
  background-image: url(../Image/CornerBackgroundBlueTransparentNoBorder.gif);
  background-repeat: no-repeat;
}

div.tabbedMultiViewBottomControls *.bottomLeft
{
  background-position: bottom left;
  bottom: 0px;
  left: 0px;
}

div.tabbedMultiViewBottomControls *.bottomRight
{
  background-position: bottom right;
  bottom: 0px;
  right: 0px;
}

/* Tab Strip */

div.tabbedMultiViewTabStrip
{
  position: relative;
  left: 0;
  right: 0;
  padding: 0;
  background-color: White;
  margin: 0em 0.5em;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane
{
  border-bottom: solid 1px #083779;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane ul
{
  display: block;
  margin-bottom: -1px; /* Moves the UL into the surrounding DIV. */
}

div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
  padding-top: 0.3em;
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  width: 0.6em; /* Value must also be set in the Non-IE browsers section as left-margin of the tab. */
  border-bottom: solid 1px #083779;
}

div.tabbedMultiViewTabStrip span.tabStripTab
{
  border: solid 1px #083779;
}

div.tabbedMultiViewTabStrip span.tabStripTab a
{
  border: none;
  background-color: #083779;
  background-image: url(../Image/TabbedMultiViewTabBackground.gif);
  background-repeat: repeat-x;
  background-position: top;
  color: White;
}

div.tabbedMultiViewTabStrip span.tabStripTab a:hover
{
  background-color: #083779;
  background-image: url(../Image/TabbedMultiViewTabBackgroundHover.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  color: White;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  border: solid 1px #083779;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected a
{
  border: none;
  background-color: White;
  color: #0D4EBA;
}

/* Bottom tab border */
div.tabbedMultiViewTabStrip a span.bottom
{
  position: absolute;
  font-size: 0.5%;
  display: block;
  left: 0px;
  bottom: -1px;
  height: 1px;
  width: 100%;
}

/* Bottom tab border */
div.tabbedMultiViewTabStrip span.tabStripTab a span.bottom
{
  border-bottom: solid 1px #083779;
}

/* Bottom tab border selected */
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.bottom
{
  border-bottom: solid 1px White;
}

/* Content area of the tab */
div.tabbedMultiViewTabStrip a span.anchorBody
{
  padding-top: 0.15em;
  padding-bottom: 0.25em; 
  padding-left: 0.5em;
  padding-right: 0.5em;
}

html > body div.tabbedMultiViewTabStrip span.tabStripTab, 
html > body div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  margin: 0; /* Separator already has width. */
}

div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  margin-bottom: 1px; /* The width of the top-border of the tabs. */
  padding-top: 0.2em; /* The padding used for the content span. */
  padding-bottom: 0.2em; /* The padding used for the content span. */
}

div.tabbedMultiViewTabStrip span.tabStripTab span.anchorBody, 
div.tabbedMultiViewTabStrip span.tabStripTabSelected span.anchorBody, 
div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  height: 1.2em;
}
