.bocCheckBox
{

}

.bocCheckBox.readOnly
{
}

.bocCheckBox.disabled
{
}

.bocCheckBox input
{
  margin-left: 4px;
  padding: 0px;
  vertical-align: middle;
}

.bocCheckBox span
{
  vertical-align: middle;
}

.bocCheckBox img
{
  margin-left: 4px;
  padding: 0px;
}

/* modern browsers only (IE8+, Safari, Chrome, FF) */
html>/**/body .bocCheckBox img {
	margin-left: 0px;
} 
