span.bocDateTimeValue, span.bocDateValue
{
  position: relative;
  display: block;
  height: 1.8em;
}


span.bocDateTimeValue span.bocDateInputWrapper
{
}

span.bocDateTimeValue span.bocTimeInputWrapper
{
}

span.bocDateTimeValue a
{
}

span.bocDateTimeValue.disabled a
{
  cursor: default;
}

span.bocDateTimeValue a img
{
  border-style: none;
}

span.bocDateTimeValue.disabled a img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40), progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}

/* === put time, date picker and date from right to left depending on time format (24 or 12 hours, with or without seconds) === */
span.bocDateTimeValue span.bocDate24Hours
{
  position: relative;
  display: block;
}

span.bocDateTimeValue span.bocDate24Hours input
{
  position: absolute;
  right: 72px;
  left: 1px;
  width: 67px;
}

span.bocDateTimeValue a.bocPicker24Hours
{
  position: absolute;
  width: 35px;
  top: 50%;
  margin-top: -12px;
  left: 75px;
}

span.bocDateTimeValue span.bocTime24Hours
{
  position: absolute;
  width: 40px;
  left: 112px;
  top: -1px;
}
/* modern browsers only (IE8+, Safari, Chrome, FF) */
html > /**/ body span.bocDateTimeValue span.bocTime24Hours
{
  top: 0;
}



span.bocDateTimeValue span.bocTime24Hours input
{
  width: 40px;
}



span.bocDateTimeValue span.bocDate24HoursWithSeconds
{
}

span.bocDateTimeValue span.bocDate24HoursWithSeconds input
{
  width: 67px;
}

span.bocDateTimeValue a.bocPicker24HoursWithSeconds
{
  position: absolute;
  width: 35px;
  top: 50%;
  margin-top: -12px;
  left: 75px;
}

span.bocDateTimeValue span.bocTime24HoursWithSeconds
{
  position: absolute;
  width: 60px;
  left: 112px;
  top: 0;
}
span.bocDateTimeValue span.bocTime24HoursWithSeconds input
{
  width: 60px;
}


span.bocDateTimeValue span.bocDate12Hours
{
}

span.bocDateTimeValue a.bocPicker12Hours
{
}

span.bocDateTimeValue span.bocTime12Hours
{
}

span.bocDateTimeValue span.bocDate12HoursWithSeconds
{
}

span.bocDateTimeValue a.bocPicker12HoursWithSeconds
{
}

span.bocDateTimeValue span.bocTime12HoursWithSeconds
{
}
/* === === */

span.bocDateValue span.bocDateInputWrapper
{
}

span.bocDateValue a
{
}
span.bocDateValue a.bocPicker24Hours
{
  position: absolute;
  width: 35px;
  top: 50%;
  margin-top: -12px;
  left: 70px;
}

span.bocDateValue a.disabled
{
  cursor: default;
}

span.bocDateValue a img
{
  border-style: none;
}

span.bocDateValue.disabled a img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40), progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}

span.bocDateValue input
{
  width: 65px;
}



input.bocDateTimeDate, input.bocDateTimeTime
{
}

span.bocListContent span.bocDateValue
{
  margin-top: 0;
}

span.bocListContent span.bocDateValue a
{
  margin-top: -14px;
}


td span.bocListContent
{
  display: block;
  margin-top: -3px;
}
