input.bocDateTimeDate
{
    width:100%;
}

input.bocDateTimeTime
{
    width:5em;
}

span.bocTime24HoursWithSeconds input.bocDateTimeTime,
span.bocTime12HoursWithSeconds input.bocDateTimeTime
{
    width:6em;
}


input.bocDate24HoursWithSeconds,
input.bocDate12HoursWithSeconds
{
    width:6em;
}

span.bocDate24Hours,
span.bocDate12Hours
{
    display:inline;
    left:0;
    min-width:4em;
    position:absolute;
    right:8.8em;
    width:auto;
}

span.bocDateValue span.bocDate24Hours,
span.bocDateValue span.bocDate12Hours
{
    display:inline;
    left:0;
    min-width:4em;
    position:absolute;
    right:3.2em;
    width:auto;
}

span.bocDate24HoursWithSeconds,
span.bocDate12HoursWithSeconds
{
    display:inline;
    left:0;
    min-width:4em;
    position:absolute;
    right:9.8em;
    width:auto;
}

span.bocDateTimeValue,
span.bocDateValue
{
    width: 15em;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height:2em;
    line-height:2em;
    margin-right:0.2em;
    min-width:12em;
    padding:0;
    white-space:nowrap;
    zoom: 1;
}

span.bocDateValue
{
    min-width:8em;
}


a.bocPicker24Hours,
a.bocPicker12Hours
{
    position:absolute;
    top:0;
    right:6em;
}

a.bocPicker24HoursWithSeconds,
a.bocPicker12HoursWithSeconds
{
    position:absolute;
    top:0;
    right:7em;
}


span.bocDateValue a.bocPicker24Hours,
span.bocDateValue a.bocPicker12Hours
{
    position:absolute;
    top:0;
    right:0;
}

/* WebKit browsers only (Safari, Chrome) */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    a.bocPicker24Hours,
    a.bocPicker12Hours,
    a.bocPicker24HoursWithSeconds,
    a.bocPicker12HoursWithSeconds,
    span.bocDateValue a.bocPicker24Hours,
    span.bocDateValue a.bocPicker12Hours
    {
    	top: 0.2em;
    }
    
    span.bocDate24Hours,
    span.bocDate12Hours
    {
        right:9.1em;
    }
    
    span.bocDate24HoursWithSeconds,
    span.bocDate12HoursWithSeconds
    {
        right:10.1em;
    }
    
}

/* IE6 and below */
* html a.bocPicker24Hours,
* html a.bocPicker12Hours,
* html a.bocPicker24HoursWithSeconds,
* html a.bocPicker12HoursWithSeconds,
* html span.bocDateValue a.bocPicker24Hours,
* html span.bocDateValue a.bocPicker12Hours
{
    top: 0.1em;
}

a.bocPicker24Hours img,
a.bocPicker12Hours img,
a.bocPicker24HoursWithSeconds img,
a.bocPicker12HoursWithSeconds img
{
    border:0;
    text-decoration:none;
}

span.disabled a
{
  cursor: default;
}

span.disabled a img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}


span.bocTime24Hours,
span.bocTime12Hours,
span.bocTime24HoursWithSeconds,
span.bocTime12HoursWithSeconds
{
    position:absolute;
    right:0;
}