.bocEnumValue
{
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.bocEnumValue.readOnly
{
}

.bocEnumValue.disabled
{
}

.bocEnumValue td
{
  white-space: nowrap;
}

.bocEnumValue td label
{
  vertical-align: top;
}