/* Style applied to the BocList. */

div.bocList
{
  display: block;
  position: relative;
  zoom: 1;
  height: auto;
  width: auto; /* give it a value to make bocList scrollable, IE7 is buggy if you don't define height & width */
}

/* Style applied to the BocList in read-only mode. */
.bocList.readOnly
{
}

/*  Style applied to the BocList's navigator. */
div.bocListNavigator
{
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0.25em;
}

div.bocList.hasDimensions div.bocListNavigator
{
  position: absolute;
  bottom: 0;
}

/*  Style applied to the BocList's menu block. */
div.bocListMenuBlock
{
  display: block;
  float: right;
  width: 10em;
}

div.bocListMenuBlock > div
{
  margin-left: 0.5em;
}

/*  Style applied to the list-area (table and navigation block) of the BocList.  */
div.bocListTableBlock
{
  display: block;
  width: auto;
  overflow: hidden;
}

/* Style applied to the list-area (table and navigation block) of the BocList if there is a menu block. */
div.bocListTableBlock.hasMenuBlock
{
}

/*  use JS to apply hasWidth and hasHeight depending on bocList-element on runtime */
/*  Style applied to the list-area (table and navigation block) of the BocList when the BocList has a defined width or height.  */
div.bocList.hasDimensions div.bocListTableBlock
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Style applied to the list-area (table and navigation block) of the BocList if there is a menu block. */
div.bocList.hasDimensions div.bocListTableBlock.hasMenuBlock
{
  right: 10em; /* width of BocList menu block + some space */
}

/* Style applied to the div surrounding the BocList's table. */
div.bocListTableContainer
{
  display: block;
  width: auto;
  height: auto;
}

div.bocList.hasDimensions div.bocListTableBlock div.bocListTableContainer
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/*  Style applied to the div surrounding the BocList's table when the BocList has a defined width or height and a navigation block.  */
div.bocList.hasDimensions div.bocListTableBlock.hasNavigator div.bocListTableContainer
{
  bottom: 1.5em;
}

/* Style applied to the div allowing the BocList's table to scroll. */
div.bocListTableScrollContainer
{
  display: block;
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  margin: auto; /* IE9 bug fix, otherwise, the height would keep growing */
}

div.bocList.hasDimensions div.bocListTableScrollContainer
{
  position: absolute;
  top: 1.9em;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  border-top: 2px solid Black;
}

div.bocList.hasDimensions div.bocListTableScrollContainer table.bocListTable
{
  margin-top: -1.9em;
  position: relative;
}

/* Style applied to the fake table head used for scrolling */
div.bocListFakeTableHead
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding:0;
  z-index: 1;
  overflow: hidden;
}

/*  Style applied to the BocList's table's outer structure.  */
table.bocListTable,
div.bocListFakeTableHead table
{
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}

body.msie7 table.bocListTable,
body.msie7 div.bocListFakeTableHead table
{
  width: 98%;
}

/*  Style applied to the table head block of the BocList's table.  */
tbody.bocListTableBody
{
}

/*  Style applied to the cells in the BocList's title row.  */
th.bocListTitleCell
{
  font-weight: bold;
  text-align: left;

  padding: 2px 2px 2px 2px;
  border: none;
  border-bottom: 2px solid Black;
  background-color: white;
  white-space: nowrap;
}

div.bocList.hasDimensions th.bocListTitleCell
{
  border-bottom: none;
}

body.msie7 th.bocListTitleCell *
{
  white-space: nowrap;
}

th.bocListTitleCell span
{
  padding: 2px;
}

th.bocListTitleCell a
{
  color: Blue;
  padding: 2px;
}

th.bocListTitleCell a:hover
{
  color: Blue;
  padding: 1px;
  border-color: #005588;
  border-width: 1px;
  border-style: solid;
  background-color: #fee197;	
}

/*  Style applied to the cells in the BocList's odd and even data rows. */
td.bocListDataCellOdd,
td.bocListDataCellEven
{
  text-align: left;

  padding: 2px 5px 2px 2px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;

  cursor: default;
}

body.msie7 td.bocListDataCellOdd,
body.msie7 td.bocListDataCellEven
{
  position: relative;
}

/*  Style applied to the cells in the BocList's not-selected odd and even data rows. */
tr.bocListDataRow td.bocListDataCellOdd
{
  background-color: White;
}

tr.bocListDataRow td.bocListDataCellEven
{
  background-color: #f4f4f4;
}

/*  Style applied to the cells in the BocList's selected odd and even data rows. */
tr.bocListDataRow.selected td.bocListDataCellOdd,
tr.bocListDataRow.selected td.bocListDataCellEven
{
  background-color: Highlight;
  color: HighlightText;
}


/*  Style applied to the cell in the BocList's data row that contains the index. */
th.bocListTitleCellIndex
{
  text-align: center;
}

/*  Style applied to the cell in the BocList's data row that contains the index. */
td.bocListDataCellIndex
{
  text-align: center;
}

/*  Style applied to the non-anchor content in the data rows.  */
span.bocListContent,
label.bocListContent
{
  padding: 2px;
}

/*  Style applied to the anchor tags in BocList's data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a,
tr.bocListDataRow td.bocListDataCellEven a
{
  display: inline-block;
  padding: 1px;
  border: 1px solid transparent;
}

/*  Style applied to the anchor tags in BocList's unselected odd and even data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a,
tr.bocListDataRow td.bocListDataCellEven a
{
  color: Blue;
}

/*  Style applied to the anchor tags in BocList's selected odd and even data rows.  */
tr.bocListDataRow.selected td.bocListDataCellOdd a,
tr.bocListDataRow.selected td.bocListDataCellEven a
{
  color: White;
}

/*  Style applied to the anchor tags during hovering in BocList's selected odd and even data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a:hover,
tr.bocListDataRow td.bocListDataCellEven a:hover
{
  color: Blue;
  border: 1px solid #005588;
  background-color: #fee197;
}

/*  Style applied to the disabled anchor tags during hovering in BocList's selected odd and even data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a.disabled:hover,
tr.bocListDataRow td.bocListDataCellEven a.disabled:hover
{
  color: Blue;
  border: 1px solid transparent;
}

/* Style applied to SPAN elements in command-enabled column cells */
tr.bocListDataRow td.bocListDataCellOdd span.CommandText,
tr.bocListDataRow td.bocListDataCellEven span.CommandText
{
  vertical-align: middle;
}


/* Style to override the BocList's anchor style for drop down menus rendered inside a cell. */
td.bocListDataCellOdd div span.DropDownMenuSelect a.DropDownMenuLabel,
td.bocListDataCellEven div span.DropDownMenuSelect a.DropDownMenuLabel,
td.bocListDataCellOdd div span.DropDownMenuSelect a.DropDownMenuLabel:hover,
td.bocListDataCellEven div span.DropDownMenuSelect a.DropDownMenuLabel:hover
{
  padding: 0;
  border: none;
  color: Blue;
  background-color: Transparent;
}

td.bocListDataCellOdd div span.DropDownMenuSelect a.DropDownMenuButton,
td.bocListDataCellEven div span.DropDownMenuSelect a.DropDownMenuButton,
td.bocListDataCellOdd div span.DropDownMenuSelect a.DropDownMenuButton:hover,
td.bocListDataCellEven div span.DropDownMenuSelect a.DropDownMenuButton:hover
{
  padding: 0;
  border: none;
  background-color: #DFEEF5;
}


td.bocListDataCellOdd span.DropDownMenuSelect.disabled a.DropDownMenuLabel,
td.bocListDataCellEven span.DropDownMenuSelect.disabled a.DropDownMenuLabel,
td.bocListDataCellOdd span.DropDownMenuSelect.disabled a.DropDownMenuLabel:hover,
td.bocListDataCellEven span.DropDownMenuSelect.disabled a.DropDownMenuLabel:hover
{
  padding: 0px;
  border: none;
  color: Gray;
  background-color: Transparent;
}

td.bocListDataCellOdd span.DropDownMenuSelect.disabled a.DropDownMenuButton,
td.bocListDataCellEven span.DropDownMenuSelect.disabled a.DropDownMenuButton,
td.bocListDataCellOdd span.DropDownMenuSelect.disabled a.DropDownMenuButton:hover,
td.bocListDataCellEven span.DropDownMenuSelect.disabled a.DropDownMenuButton:hover
{
  padding: 0px;
  border: none;
  background-color: #E8E8E8;
}

td.bocListDataCellOdd span.bocDateValue a,
td.bocListDataCellEven span.bocDateValue a,
td.bocListDataCellOdd span.bocDateValue a:hover,
td.bocListDataCellEven span.bocDateValue a:hover,
td.bocListDataCellOdd span.bocDateTimeValue a,
td.bocListDataCellEven span.bocDateTimeValue a,
td.bocListDataCellOdd span.bocDateTimeValue a:hover,
td.bocListDataCellEven span.bocDateTimeValue a:hover
{
  padding: 0px;
  border-style: none;
  background-color: Transparent;
}

/*  Style applied to the text providing the sorting order's index. */
span.bocListSortingOrder
{
  color: Gray;
  font-size: 80%;
  font-weight: normal;
}

/*  Style applied to the BocList's list of available views. */
select.bocListAvailableViewsListDropDownList
{
}

/*  Style applied to the BocList's list of available views. */
span.bocListAvailableViewsListLabel
{
}

/*  Style applied to the validation messages, applied if the EditDetailsValidator has no style it self.  */
div.bocListEditModeValidationMessage
{
  color: Red;
}
