/* Style applied to the BocList. */
div.bocList
{
    display: block;
    width: 100%;
    height: 100%;
	position: relative;
	min-height: 5em;
}

/*  use JS to apply hasWidth and hasHeight depending on bocList-element on runtime */
div.bocList.hasHeight div.bocListTableBlock,
div.bocList.hasWidth div.bocListTableBlock,
div.bocList.hasHeight div.bocListTableBlock div.bocListTable,
div.bocList.hasWidth div.bocListTableBlock div.bocListTable
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

div.bocListTableBlock.withoutMenuBlock div.bocListTable
{
  right: 0;  
}

div.bocListTableBlock.hasMenuBlock div.bocListTable
{
  right: 9.5em;  
}

div.bocListNavigator
{
}

div.bocList.hasHeight div.bocListNavigator,
div.bocList.hasWidth div.bocListNavigator
{
	position: absolute;
	bottom: 0;
}

div.bocListMenuBlock
{
    display: block;
    float: right;
    width: 9em;
}
/* Style applied to the BocList in read-only mode. */
.bocList.readOnly
{
}


/* Style applied to the div surrounding the BocList's table. */
div.bocListTable
{
    display: block;
    width: auto;
    height: auto;
	overflow: auto;
}


/*  Style applied to the div surrounding the BocList's table when the list is read-only. */
.bocList.readOnly div.bocListTable
{
  border-collapse: collapse;
  border-style: none;
}

/*  Style applied to the BocList's table's outer structure.  */
table.bocListTable
{
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}

/*  Style applied to the BocList's table's inner structure.  */
div.bocListTableBlock
{
    display: block;
    width: auto;
	overflow: hidden;
	margin-right: 10em;
}



td.bocListMenuBlock
{
  padding-left: 5pt;
}

/*  Style applied to the table head block of the BocList's table.  */
tbody.bocListTableBody
{
}

/*  Style applied to the cells in the BocList's title row.  */
th.bocListTitleCell
{
	font-weight: bold;
	text-align: left;

  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: Black;
  
  white-space: nowrap;
}

th.bocListTitleCell span
{
	padding: 2px;
}

th.bocListTitleCell a
{
  color: Blue;
	padding: 2px;
}

th.bocListTitleCell a:hover
{
  color: Blue;
	padding: 1px;
	border-color: #005588;
	border-width: 1px;
	border-style: solid;
	background-color: #fee197;	
}

/*  Style applied to the cells in the BocList's odd and even data rows. */
td.bocListDataCellOdd,
td.bocListDataCellEven
{
	text-align: left;

  padding: 2px 5px 2px 2px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: White;
  
  cursor: default;
}

/*  Style applied to the cells in the BocList's not-selected odd and even data rows. */
tr.bocListDataRow td.bocListDataCellOdd
{
	background-color: White;
}

tr.bocListDataRow td.bocListDataCellEven
{
	background-color: #e1ecfc;
}

/*  Style applied to the cells in the BocList's selected odd and even data rows. */
tr.bocListDataRowSelected td.bocListDataCellOdd,
tr.bocListDataRowSelected td.bocListDataCellEven
{
	background-color: Highlight;
  color: HighlightText;
}


/*  Style applied to the cell in the BocList's data row that contains the index. */
th.bocListTitleCellIndex
{
  text-align: center;
}

/*  Style applied to the cell in the BocList's data row that contains the index. */
td.bocListDataCellIndex
{
  text-align: center;
}

/*  Style applied to the non-anchor content in the data rows.  */
span.bocListContent,
label.bocListContent
{
	padding: 2px;
}

/*  Style applied to the anchor tags in BocList's unselected odd and even data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a,
tr.bocListDataRow td.bocListDataCellEven a
{
  color: Blue;
	padding: 2px;
}

/*  Style applied to the anchor tags in BocList's selected odd and even data rows.  */
tr.bocListDataRowSelected td.bocListDataCellOdd a,
tr.bocListDataRowSelected td.bocListDataCellEven a
{
  color: White;
	padding: 2px;
}

/*  Style applied to the anchor tags during hovering in BocList's selected odd and even data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a:hover,
tr.bocListDataRow td.bocListDataCellEven a:hover,
tr.bocListDataRowSelected td.bocListDataCellOdd a:hover,
tr.bocListDataRowSelected td.bocListDataCellEven a:hover
{
  color: Blue;
	padding: 1px;
	border-color: #005588;
	border-width: 1px;
	border-style: solid;
	background-color: #fee197;	
}

/*  Style applied to the disabled anchor tags during hovering in BocList's selected odd and even data rows.  */
tr.bocListDataRow td.bocListDataCellOdd a.disabled:hover,
tr.bocListDataRow td.bocListDataCellEven a.disabled:hover,
tr.bocListDataRowSelected td.bocListDataCellOdd a.disabled:hover,
tr.bocListDataRowSelected td.bocListDataCellEven a.disabled:hover
{
  color: Blue;
	padding: 2px;
	border-width: 0px;
	border-style: none;
	background-color: transparent;	
}

/* Style applied to SPAN elements in command-enabled column cells */
tr.bocListDataRow td.bocListDataCellOdd span.CommandText,
tr.bocListDataRow td.bocListDataCellEven span.CommandText,
tr.bocListDataRowSelected td.bocListDataCellOdd span.CommandText,
tr.bocListDataRowSelected td.bocListDataCellEven span.CommandText
{
  vertical-align: middle;
}


/* Style to override the BocList's anchor style for drop down menus rendered inside a cell. */
td.bocListDataCellOdd div span.DropDownMenuSelect a,
td.bocListDataCellEven div span.DropDownMenuSelect a,
td.bocListDataCellOdd div span.DropDownMenuSelect a:hover,
td.bocListDataCellEven div span.DropDownMenuSelect a:hover
{
  color: Blue;
  padding: 0;
  border: none;
  background-color: Transparent;
}


td.bocListDataCellOdd span.DropDownMenuSelect.disabled a,
td.bocListDataCellEven span.DropDownMenuSelect.disabled a,
td.bocListDataCellOdd span.DropDownMenuSelect.disabled a:hover,
td.bocListDataCellEven span.DropDownMenuSelect.disabled a:hover
{
  color: Gray;
	padding: 0px;
	border: none;
  background-color: Transparent;
}

td.bocListDataCellOdd span.bocDateValue a,
td.bocListDataCellEven span.bocDateValue a,
td.bocListDataCellOdd span.bocDateValue a:hover,
td.bocListDataCellEven span.bocDateValue a:hover,
td.bocListDataCellOdd span.bocDateTimeValue a,
td.bocListDataCellEven span.bocDateTimeValue a,
td.bocListDataCellOdd span.bocDateTimeValue a:hover,
td.bocListDataCellEven span.bocDateTimeValue a:hover
{
  padding: 0px;
  border-style: none;
  background-color: Transparent;
}

/*  Style applied to the text providing the sorting order's index. */
span.bocListSortingOrder
{
  color: Gray;
  font-size: 80%;
  font-weight: normal;
}

/*  Style applied to the BocList's navigator. */
div.bocListNavigator
{
}

/*  Style applied to the BocList's list of available views. */
select.bocListAvailableViewsListDropDownList
{
}

/*  Style applied to the BocList's list of available views. */
span.bocListAvailableViewsListLabel
{
}

/*  Style applied to the validation messages, applied if the EditDetailsValidator has no style it self.  */
div.bocListEditModeValidationMessage
{
	color: Red;
}
