/* Style applied to the BocMultilineTextValue. */

span.bocMultilineTextValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

span.bocMultilineTextValue textarea
{
  width: 100%;
}

.bocMultilineTextValue.readOnly
{
}

.bocMultilineTextValue.disabled
{
}

.bocMultilineTextValue textarea
{
  font-size: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}