/* Style applied to the BocTextValue. */

span.bocTextValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

span.bocTextValue input
{
    width: 100%;
}

.bocTextValue.readOnly
{
}

.bocTextValue.disabled
{
}