<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Remotion.SecurityManager.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Remotion.SecurityManager.UnitTests.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DatabaseDirectory" serializeAs="String">
                <value>C:\databases</value>
            </setting>
        </Remotion.SecurityManager.UnitTests.Properties.Settings>
    </applicationSettings>
</configuration>