div.bocAutoCompleteReferenceValue
{
    position: relative;
    height: auto;
    vertical-align: middle
}

div.bocAutoCompleteReferenceValueContent
{
  position: relative;
  text-align: left;
  line-height: 1.25em;
  white-space: nowrap;
  padding: 2px 0px;
}

div.bocAutoCompleteReferenceValueContent span.bocAutoCompleteReferenceValueContent
{
  position: absolute;
  top: 0px;
}

div.bocAutoCompleteReferenceValueContent *.bocAutoCompleteReferenceValueCommand
{
  display:inline-block;
  position: relative;
  padding: 1px;
  margin: auto;
}

div.bocAutoCompleteReferenceValueContent a.bocAutoCompleteReferenceValueCommand:hover
{
  border: solid 1px #005588;
  background-color: #fee197;
  padding: 0;
}

div.bocAutoCompleteReferenceValueContent *.bocAutoCompleteReferenceValueCommand span
{
  margin-right: 2px;
}

div.bocAutoCompleteReferenceValueContent img.bocAutoCompleteReferenceValueContent
{
    background-color: Transparent;
    border-style: none;
    position: static;    
    padding: 1px 3px 1px 1px;
}

div.bocAutoCompleteReferenceValueContent div.bocAutoCompleteReferenceValueOptionsMenu
{
  position: absolute;
  right: 0px;
  margin-left: 5px;
}

span.bocAutoCompleteReferenceValueDropDownList
{
	position: absolute;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
}

*.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueInput 
{
  display: block;
	position: absolute;
	right: 17px; /* width of the dropdown arrow image*/
	padding-right: 6px; /* compensation for input field borders and padding */
	top: 0;
	left: 0;
}

div.DropDownMenuSelect span.bocAutoCompleteReferenceValueInput 
{
  margin-top: 1px;
  margin-right: 3px;
}

*.bocAutoCompleteReferenceValue.disabled span.bocAutoCompleteReferenceValueInput
{
  right: 0px;
}

span.bocAutoCompleteReferenceValueDropDownList input {
	width: 100%;
	vertical-align: middle;
	position: relative;
}

span.bocAutoCompleteReferenceValueButton 
{
  display: block;
	position: absolute;
	top: 1px;
	right: 0px;
	background-color: #083779;
	background-position: center center;
	background-repeat:no-repeat;
}

span.bocAutoCompleteReferenceValueButton img
{
  height: 21px;
	width: 17px;
}

/* Since both the span containing the text input and the drop-dow button are positioned absolutely,
   the containing div has zero height. To fix this, a relatively positioned dummy element is needed */
span.bocAutoCompleteReferenceValueDummy
{
  display: inline-block;
  position: relative;
  visibility: hidden; /* don't show, but reserve space on the page */
  padding: 4px 0px; /* compensate textbox margin, border and padding vertically */
}