/*  Style applied to the BocDateTimeValue's layout table.  */
div.bocDateTimeValue
{
  position: relative;
  white-space: nowrap;
}

/*  Style applied to the BocDateTimeValue's layout table's cells.  */
div.bocDateTimeValue input.Date
{
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}

div.bocDateTimeValue input.Time
{
  position: absolute;
  top: 0;
  right: 0;
  z-index:1;
}

div.bocDateTimeValue a
{
  position : relative;
  margin: 0 5px 0 5px;
  padding: 0;
  z-index:0;
}

.bocDateTimeValue
{
}

.bocDateTimeValue.readOnly
{
}

.bocDateTimeValue.disabled
{
}