span.bocDateTimeValue, span.bocDateValue
{
  display: block;
  text-align: left;
  height: 1.5em;
  white-space: nowrap;
  vertical-align: top;
  position: relative;
  width: 100%;
  display: inline-block;
}


span.bocDateTimeValue span.bocDateInputWrapper
{
  position: absolute;
  left: 0;
  right: 9em;
}

span.bocDateTimeValue span.bocTimeInputWrapper
{
  position: absolute;
  right: 0px;
  width: 5.5em;
}

span.bocDateTimeValue a
{
  position: absolute;
  right: 5.9em;
  border: 0;
}

span.bocDateValue span.bocDateInputWrapper
{
  position: absolute;
  left: 0;
  right: 3.1em;
}

span.bocDateValue a
{
  position: absolute;
  right: 0;
}

input.bocDateTimeDate, input.bocDateTimeTime
{
  width: 100%; 
  margin: 0;
}