.bocReferenceValue
{
  display: block;
  position: relative;
  height: auto;
  vertical-align: middle;
}

.bocReferenceValueContent
{
  display: inline-block;
  position:relative;
  text-align: left;
  line-height: 1.25em;
  white-space: nowrap;
  padding: 2px 0px;
}

.bocReferenceValue *.bocReferenceValueCommand
{
  display:inline-block;
  position: relative;
  padding: 1px;
  margin: auto;
}

.bocReferenceValue a.bocReferenceValueCommand:hover
{
  border: solid 1px #005588;
  background-color: #fee197;
  padding: 0;
}

.bocReferenceValue span.bocReferenceValueCommand
{
  cursor: default;
}

.bocReferenceValue img.bocReferenceValueContent
{
    background-color: Transparent;
    border-style: none;
    position: static;    
    padding: 1px 3px 1px 1px;
}

.bocReferenceValueOptionsMenu 
{
  position: absolute; 
  display: block; 
  right: 0;
  top: 1px;
}

.bocReferenceValueOptionsMenu .DropDownMenuSelect
{
  margin-left: 4px;
}

.bocReferenceValueContent span.readOnly
{
  position : static;
}

.bocReferenceValue .disabled span.readOnly
{
  padding-right: 18px;
}

span.content
{
  position: absolute;
}

.bocReferenceValue span.content * {
  width: 100%; 
  margin: 0px;
}

.bocReferenceValue .disabled span.content 
{
  padding: 3px;
}

.bocReferenceValue.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}