div.bocReferenceValue
{
    position: relative;
    height: auto;
    vertical-align: middle;
}

div.bocReferenceValueContent
{
  position:relative;
  text-align: left;
  line-height: 1.25em;
  white-space: nowrap;
  vertical-align: top;
}

div.bocReferenceValueContent *.bocReferenceValueCommand
{
  display:inline-block;
  position: relative;
  padding: 1px;
  margin: auto;
}

div.bocReferenceValueContent a.bocReferenceValueCommand:hover
{
  border: solid 1px #005588;
  background-color: #fee197;
  padding: 0;
}

div.bocReferenceValueContent *.bocReferenceValueCommand span
{
  margin-right: 2px;
}

div.bocReferenceValueContent img.bocReferenceValueContent
{
    background-color: Transparent;
    border-style: none;
    position: static;    
    padding: 1px 3px 1px 1px;
}

div.bocReferenceValueOptionsMenu 
{
  position: absolute; 
  display: block; 
  right: 0;
  top: 1px;
}

div.bocReferenceValueOptionsMenu div.DropDownMenuSelect
{
  margin-left: 4px;
}

div.bocReferenceValueContent span.readOnly
{
  position : static;
}

span.bocReferenceValueContent
{
  position: absolute;
}

div.bocReferenceValueContent span.bocReferenceValueContent * {
  width: 100%; 
  margin: 0px;
}

div.bocReferenceValueContent div.disabled span.bocReferenceValueContent {
  padding: 3px;
}

.bocReferenceValue.disabled img
{
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4
}