div#ErrorContainer
{
  color: Red;
  font-size: 1.1em;
  font-weight: bold;
  height: 1.1em;
}

h1.pageTitle
{
  margin-bottom: 0;
}

button.imageButton
{
  border: none;
  background-color:Transparent;
}

h2.accessControlListTitle
{
  font-size: 125%;
  line-height: 1em;
}

div.accessControlListContainer
{
  width: 100%;
  margin-bottom: 1em;
  border-top: solid 2px black;
}

td.accessControlListButtons
{
  text-align: right;
}

td.accessControlListButtons button
{
  margin-left: 1em;  
}

table.accessControlList
{
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

td.stateCombinationsButtons,
td.stateCombinationsContainer
{
  border-right: solid 1px #005588;
  width: 12em;
}

td.accessControlEntriesContainer
{
  height: auto;
  border-left: solid 1px #005588;
  padding-top: 1em;
}

table.accessControlEntriesTable
{
  border-collapse: collapse;
  border-style: none;
  width: 100%;
}

table.accessControlEntriesTable th
{
  border-bottom: solid 1px black;
}

table.accessControlEntriesTable th.titleCellHorizontal
{
  text-align: left;
  vertical-align:bottom;
}

table.accessControlEntriesTable th.titleCellVertical
{
  text-align: left;
  vertical-align: middle;
  writing-mode: tb-rl; 
  filter: FlipV() FlipH();
  padding-top: 0.25em;
  width: 1.5em;
}

table.accessControlEntriesTable tr.odd
{
	background-color: White;
}

table.accessControlEntriesTable tr.even
{
	background-color: #F4F4F4;
}

table.accessControlEntriesTable td.conditionCell
{
  width: 20%;
  padding-right: 1em;
}

table.accessControlEntriesTable td.permissionCell
{
  padding: 0.25em;
  border-left: solid 1px #005588;
  border-right: solid 1px #005588;
}

table.accessControlEntriesTable td.buttonCell
{
  padding: 0.25em;
}

table.accessControlEntryExpanded
{
  background-color: White;
}

td.accessControlEntryTitleCell
{
  display: none;
}

table.accessControlEntryExpanded td.formGridTopDataRow
{
  border-top: 0;
}
