div#ErrorContainer
{
  color: Red;
  font-size: 1.1em;
  font-weight: bold;
  height: 1.1em;
}

div.singleViewTopControls h1
{
  margin-bottom: 0;
}

button.imageButton
{
  border: none;
  background-color:Transparent;
}

div.accessControlListContainer
{
  width: 100%;
  margin-top: 1em;
}

td.accessControlListTitleCell,
td.accessControlEntryTitleCell
{
  border-bottom: solid 2px black;
}

td.accessControlListTitleCell h2,
td.accessControlEntryTitleCell h3
{
  font-size: 125%;
  float: left;
}

div.accessControlListButtons,
div.accessControlEntryButtons
{
  text-align: right;
}

div.accessControlListButtons button,
div.accessControlEntryButtons button
{
  margin-left: 1em;  
}

table.accessControlList
{
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

td.stateCombinationsContainer
{
  border-right: solid 1px #005588;
  width: 12em;
}

td.accessControlEntriesContainer
{
  height: auto;
  border-left: solid 1px #005588;
  padding-top: 1em;
}

table.accessControlEntriesTable
{
  border:1px;
}

table.accessControlEntriesTable th.titleCellHorizontal
{
  text-align: left;
  vertical-align:bottom;
}

table.accessControlEntriesTable th.titleCellVertical
{
  text-align: left;
  vertical-align: middle;
  writing-mode: tb-rl; 
  filter: FlipV() FlipH();
  padding-top: 0.25em;
}

table.accessControlEntriesTable td.permissionCell
{
  text-align: center;
  padding-left: 0.25em;
  padding-bottom: 0.25em;
}

table.accessControlEntryExpanded
{
  border: solid 1px black;
}

td.accessControlEntryTitleCell
{
  border: none;
  padding: 0;
}

ul.permissionsList
{
  list-style: none;
  padding: 0;
  margin: 0;
}

li.permissionsList
{
  float: left;
  white-space: nowrap;
  margin-right: 2em;
}
