/*  This style file is only used for documenting the classes. 
    It is not automatically included by the BocTextValue. */

.bocAutoCompleteReferenceValue
{
}

.bocAutoCompleteReferenceValue.readOnly
{
}

.bocAutoCompleteReferenceValue.disabled
{
}

.bocAutoCompleteReferenceValue input
{
  display: block;
  position: relative;
  float: left;
}

img.bocAutoCompleteReferenceValueDropDownImage
{
  height: 1.65em !important;
  width: 17px !important;
  margin-left: -3px;
  margin-right: -17px !important;
  border: none;
  background-color: #083779 !important;
  background-image: url(..\Image\DropDownMenuArrow.gif) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  cursor: default !important;
  display: block;
  position: relative;
  float: left;
}

.bocAutoCompleteReferenceValueDropDownPanel
{
  max-height: 300px;
  height: expression(this.scrollHeight > 300 ? "300px" : (this.scrollHeight < 40 && this.scrollWidth > this.clientWidth ? "40px" : "auto"));
  background-color: window;
  color: WindowText;
  border: solid 1px buttonshadow;
  margin-left: 1px;
  margin-right: 1px;
  white-space: nowrap;
}
