/*  Include this style sheet to set the base font-size to 80% of the browser default 
    for pages displayed in standard mode.  */

/*  Theoretically intended settings. */
body
{
  /* Font-Size in body must be in percent. Otherwise IE has a cascading bug. */  
  font-size: 80%; 
}

/*  First block catches for all browsers.
    voice-family is "Tantek Celik Hack"
    Second block catches for Opera 7, Mozilla, and Internet Explorer 6, 
    thus overriding the settings from the first block. */
td, 
th
{
  font-size: 80%;
  voice-family: "\"}\""; 
  voice-family:inherit;
  font-size: 100%;
}

/*  Catches for Opera 7 (5+?), Mozilla/Firefox. 
    Stops tailspin for Internet Explorer 5.0.1, i.e. allowing subsequent style information to be applied. */
html>body td,
html>body th
{
  font-size: 100%;
}

/*  Style applied to the title cell  */
/*  Style applied to the sub title cell  */
td.formGridTitleCell,
td.formGridSubTitleCell
{
  font-size: 100%;
  voice-family: "\"}\""; 
  voice-family:inherit;
  font-size: 125%;
}

html>body td.formGridTitleCell
{
  font-size: 125%;
}

/*  Style applied to the BocList's in-place menu  */
td.contentMenuRow
{
  font-size: 64%;
  voice-family: "\"}\""; 
  voice-family:inherit;
  font-size: 80%;
}

html>body td.contentMenuRow
{
  font-size: 80%;
}

/* No scaling without a reference value */
input,
textarea,
select,
button
{
  font-size: 100%;
}
