div.singleView
{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

div.singleView div.wrapper
{
  position: absolute;
  background-color: white;
  top: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  width: auto;
  height: auto;
}

div.singleView div.wrapper > *.top, 
div.singleView div.wrapper > *.left, 
div.singleView div.wrapper > *.bottom, 
div.singleView div.wrapper > *.bottom, 
div.singleView div.wrapper > *.topLeft,
div.singleView div.wrapper > *.bottomLeft, 
div.singleView div.wrapper > *.topRight, 
div.singleView div.wrapper > *.bottomRight
{
  display: none;
}

/*
div.singleView div.wrapper > *.topLeft, 
div.singleView div.wrapper > *.bottomLeft, 
div.singleView div.wrapper > *.topRight, 
div.singleView div.wrapper > *.bottomRight
{
  position: absolute;
  font-size: 0.5%;
  display: block;
  background-image: url(../Image/CornerBackgroundBlueTransparentNoBorder.gif);
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}

div.singleView div.wrapper > *.topLeft
{
  background-position: top left;
  top: 0px;
  left: 0px;
}

div.singleView div.wrapper > *.topRight
{
  background-position: top right;
  top: 0px;
  right: 0px;
}

div.singleView div.wrapper > *.bottomLeft
{
  background-position: bottom left;
  bottom: 0px;
  left: 0px;
}

div.singleView div.wrapper > *.bottomRight
{
  background-position: bottom right;
  bottom: 0px;
  right: 0px;
}*/

div.singleView div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.singleViewView
{
  padding: 1px;
  vertical-align: top; 	
  margin: 0;
  overflow: hidden;
}

div.singleViewView div.contentBorder
{
  position: relative;
  border: solid 1px #083779;
  padding: 0.25em;
  overflow: auto;
}

div.singleViewView *.top, 
div.singleViewView *.left, 
div.singleViewView *.bottom, 
div.singleViewView *.bottom, 
div.singleViewView *.topLeft,
div.singleViewView *.bottomLeft, 
div.singleViewView *.topRight, 
div.singleViewView *.bottomRight
{
  display: none;
}

/*
div.singleViewView *.topLeft, 
div.singleViewView *.bottomLeft, 
div.singleViewView *.topRight, 
div.singleViewView *.bottomRight
{
  position: absolute;
  font-size: 0.5%;
  display: block;
  background-image: url(../Image/CornerBackgroundWhiteTransparentBlueBorder.gif);
  background-repeat: no-repeat;
  width: 5px;
  height: 5px;
}

div.singleViewView *.topLeft
{
  background-position: top left;
  top: 0px;
  left: 0px;
}

div.singleViewView *.topRight
{
  background-position: top right;
  top: 0px;
  right: 0px;
}

div.singleViewView *.bottomLeft
{
  background-position: bottom left;
  bottom: 0px;
  left: 0px;
}

div.singleViewView *.bottomRight
{
  background-position: bottom right;
  bottom: 0px;
  right: 0px;
}*/

body.mozilla  div.singleViewView,
body.webkit   div.singleViewView,
body.opera    div.singleViewView
{
 width: inherit;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.singleViewTopControls
{
  overflow: hidden;
  background-color: White;
  padding-bottom: 1em;
}

div.singleViewTopControls.empty
{
  height: 1em;
  background-color: White;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.singleViewBottomControls
{
  position: absolute;
  overflow: hidden;
  background-color: White;
  margin-top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1em;
}

div.singleViewBottomControls.empty
{
  height: 1em;
  background-color: White;
}
