@import url("TabStrip.css");

/* Non-IE Browsers hack \*/
html > body div.tabbedMultiViewActiveView
{
  width: inherit;
}
/* End Non-IE Browsers hack\*/

div.tabbedMultiView
{
  margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
}

div.tabbedMultiView div.wrapper
{
  position: relative;
  margin: 10px;
  width: auto;
  height: auto;
}

div.tabbedMultiView div.content
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewTopControls
{
  padding-bottom: 1em;
	overflow: hidden;
}

div.tabbedMultiViewTabStrip div
{
  position: static;
  left: auto;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.tabbedMultiViewBottomControls
{
  padding-top: 1em;
  overflow: hidden;
}

div.tabbedMultiViewActiveView
{
  overflow: hidden;
  border-left: solid 1px #005588;
  border-right: solid 1px #005588;
  border-bottom: solid 1px #005588;
  padding-left: 0.2em;
}

div.tabbedMultiViewActiveView div.content
{
  overflow: auto;
}

div.tabbedMultiViewActiveView *.left, 
div.tabbedMultiViewActiveView *.top, 
div.tabbedMultiViewActiveView *.right, 
div.tabbedMultiViewActiveView *.bottom,
div.tabbedMultiViewActiveView *.topLeft, 
div.tabbedMultiViewActiveView *.bottomLeft, 
div.tabbedMultiViewActiveView *.topRight, 
div.tabbedMultiViewActiveView *.bottomRight
{
  display: none;
}

/* Tab Strip */

div.tabbedMultiViewTabStrip
{
  padding: 0;
  width: 100%;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane
{
  border-bottom: solid 1px #005588;
}

div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator
{
  width: 1em;
  border-bottom: solid 1px #005588;
}

div.tabbedMultiViewTabStrip span.tabStripTab
{
  border: solid 1px #005588;
}

div.tabbedMultiViewTabStrip span.tabStripTab a
{
  border: none;
  background-color: #e1ecfc;
  color: Blue;
}

div.tabbedMultiViewTabStrip span.tabStripTab a:hover
{
  background-color: #fee197;
  color: Blue;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  border: solid 1px #005588;
}

div.tabbedMultiViewTabStrip span.tabStripTabSelected a
{
  border: none;
  background-color: White;
  color: Blue;
}

/* Bottom tab border */
div.tabbedMultiViewTabStrip a span.bottom
{
  position: absolute;
  display: block;
  font-size: 0.5%;
  left: 0px;
  bottom: -1px;
  height: 1px;
  width: 100%;
}

/* Bottom tab border */
div.tabbedMultiViewTabStrip span.tabStripTab a span.bottom
{
  border-bottom: solid 1px #005588;
}

/* Bottom tab border selected */
div.tabbedMultiViewTabStrip span.tabStripTabSelected a span.bottom
{
  border-bottom: solid 1px White;
}

/* Content area of the tab */
div.tabbedMultiViewTabStrip a span.anchorBody
{
  padding-top: 0.1em; /* Value must also be set in the Non-IE browsers section as padding for the separator. */
  padding-bottom: 0.1em; /* Value must also be set in the Non-IE browsers section as padding for the separator. */
  padding-left: 0.3em;
  padding-right: 0.3em;
}

div.tabbedMultiViewTabStrip div.tabStripTabsPane ul
{
  display: block; /* Correction for Non-IE browsers. */
}

html > body div.tabbedMultiViewTabStrip span.tabStripTab, 
html > body div.tabbedMultiViewTabStrip span.tabStripTabSelected
{
  margin-left: 1em; /* Provides room for the separator. */
}

div.tabbedMultiViewTabStrip span.tabStripTabWrapper
{
  /*margin-bottom: -5px; /* The border-width and padding */
}

div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  margin-bottom: 1px; /* The width of the top-border of the tabs. */
  padding-top: 1px; /* The padding used for the anchorBody span. */
  padding-bottom: 1px; /* The padding used for the anchorBody span. */
}

div.tabbedMultiViewTabStrip span.tabStripTab span.anchorBody, 
div.tabbedMultiViewTabStrip span.tabStripTabSelected span.anchorBody, 
div.tabbedMultiViewTabStrip span.tabStripTabSeparator span
{
  height: 1.4em;
}
