<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web"/>
    <section name="remotion.security" type="Remotion.Security.Configuration.SecurityConfiguration, Remotion.Security"/>
    <section name="remotion.securityManager" type="Remotion.SecurityManager.Configuration.SecurityManagerConfiguration, Remotion.SecurityManager"/>
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.PersistenceConfiguration, Remotion.Data.DomainObjects" />
      <section name="query" type="Remotion.Data.DomainObjects.Queries.Configuration.QueryConfiguration, Remotion.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <remotion.web xmlns="http://www.re-motion.org/web/configuration">
    <executionEngine functionTimeout="20" refreshInterval="10" defaultWxeHandler="WxeHandler.ashx" urlMappingFile="~/UrlMapping.xml"/>
  </remotion.web>
  <remotion.security xmlns="http://www.re-motion.org/Security/Configuration" defaultSecurityProvider="SecurityManager" defaultUserProvider="HttpContext">
  </remotion.security>
  <remotion.securityManager xmlns="http://www.re-motion.org/SecurityManager/Configuration">
  </remotion.securityManager>

  <remotion.data.domainObjects xmlns="http://www.re-motion.org/Data/DomainObjects/Configuration/2.0">
    <storage defaultProviderDefinition="SecurityManager">
      <providerDefinitions>
        <add type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition"
            name="SecurityManager"
            providerType="Remotion.SecurityManager::Persistence.SecurityManagerSqlProvider"
            connectionString="RemotionSecurityManagerWebClientTest"/>
      </providerDefinitions>      
    </storage>
    <query>
      <queryFiles>
        <add filename="SecurityManagerQueries.xml"/>
      </queryFiles>
    </query>
  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="RemotionSecurityManagerWebClientTest" connectionString="Integrated Security=SSPI;Initial Catalog=RemotionSecurityManagerWebClientTest;Data Source=localhost"/>
  </connectionStrings>

  <system.web>
    <pages>
      <controls>
        <add tagPrefix="remotion" namespace="Remotion.ObjectBinding.Web.UI.Controls" assembly="Remotion.ObjectBinding.Web"/>
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web"/>
      </controls>
    </pages>

    <sessionState mode="InProc">
      
    </sessionState>
    <httpHandlers>
      <add verb="*" path="*.wxe" type="Remotion.Web.ExecutionEngine.WxeHandler, Remotion.Web"/>
    </httpHandlers>

    <!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
      -->
    <compilation defaultLanguage="c#" debug="true">
      <expressionBuilders>
        <add expressionPrefix="res" type="Remotion.Web.Compilation.ResourceExpressionBuilder, Remotion.Web" />
      </expressionBuilders>
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
      -->
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <!--
          The <customErrors> section enables configuration 
          of what to do if/when an unhandled error occurs 
          during the execution of a request. Specifically, 
          it enables developers to configure html error pages 
          to be displayed in place of a error stack trace.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
      -->
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-us" uiCulture="en-us"/>

  </system.web>
</configuration>