/* Applied to the node itself */
div.treeViewNode
{
}

/* Applied to the top level node's children area if the expandre is hidden for the top level nodes. */
div.treeViewTopLevelNodeChildren
{
}

/* Applied to the node's children area. */
div.treeViewNodeChildren
{
  background-image: url(../Image/TreeViewI.gif);
  background-repeat: repeat-y;  
  padding-left: 19px;
}

/* Applied to the node's children area if the nodes should not be connected by lines. */
div.treeViewNodeChildrenNoLines
{
  padding-left: 19px;
}

/* Applied to the node's head. */
span.treeViewNodeHead
{
}

/* Applied to the node's head if it is the selected node. */
span.treeViewNodeHeadSelected
{
	background-color: Highlight;
  color: HighlightText;
}

span.treeViewNodeHead a
{
  padding: 2px;
}

span.treeViewNodeHeadSelected a
{
  color: HighlightText;
  padding: 2px;
}

span.treeViewNodeHead a:hover
{
  color: Blue;
	padding: 1px;
	border-width: 1px;
	border-color: #005588;
	border-style: solid;
	background-color: #fee197;	
}

span.treeViewNodeHeadSelected a:hover
{
  color: Blue;
	padding: 1px;
	border-width: 1px;
	border-color: #005588;
	border-style: solid;
	background-color: #fee197;	
}
