div.singleView
{
  width: 100%;
  height: 100%;
  position: relative;
}

div.singleViewView
{
  padding: 0;
  vertical-align: top; 
	border: solid 1px #005588;	
	left: 10px;
  width: 100%;
  position: relative;
  overflow: auto;	
}

div.singleViewView *.left, 
div.singleViewView *.top, 
div.singleViewView *.right, 
div.singleViewView *.bottom,
div.singleViewView *.topLeft, 
div.singleViewView *.bottomLeft, 
div.singleViewView *.topRight, 
div.singleViewView *.bottomRight
{
  display: none;
}

/* Non-IE Browsers hack \*/
html > body div.singleViewView
{
  width: inherit;
}
/* End Non-IE Browsers hack\*/


/* Applied to the top section of the multi view. Height cannot be provided in percent. */
div.singleViewTopControls
{
  position: absolute; 
  padding-bottom: 1em;
  top: 15px; 
	left: 10px; 
	width: 100%; 
	overflow: hidden;
}

/* Applied to the bottom section of the multi view. Height cannot be provided in percent. */
div.singleViewBottomControls
{
  position: absolute; 
  padding-top: 1em;
  bottom: 15px; 
  left: 10px;
  width: 100%; 
  overflow: hidden;
}

