span.bocAutoCompleteReferenceValue
{
  width: 21.5em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  min-height: 1.7em;
  top: 0;
}
/* IE7 only */
*:first-child+html span.bocAutoCompleteReferenceValue
{
    top: -0.1em;
}

span.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueContent
{
	display: block;
}

span.bocAutoCompleteReferenceValue input
{
   width: 100%;
   display: inline-block;
}
/* Mozilla only (Firefox) */
html:not([dummy]) span.bocAutoCompleteReferenceValue input
{
  height: 1.2em;
}

span.bocAutoCompleteReferenceValueDropDownList
{
	position: absolute;
	height: 21px;
	width: 100%;
	white-space: nowrap;
}


span.bocAutoCompleteReferenceValueButton 
{
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #083779;
    background-position: center center;
    background-repeat:no-repeat;
    height: 1.6em;
}

/* IE7 only */
*:first-child+html span.bocAutoCompleteReferenceValueButton 
{
  top: 0.1em;
  height: 1.55em;
}

span.bocAutoCompleteReferenceValueButton img
{
  height: 20px;
  width: 17px;
}



span.bocAutoCompleteReferenceValue.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}

span.bocAutoCompleteReferenceValue a.bocAutoCompleteReferenceValueCommand
{
  cursor: default;
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
  border: solid 1px transparent;
  height: 1.3em; 
}

span.bocAutoCompleteReferenceValue a.bocAutoCompleteReferenceValueCommand:hover
{
  display: inline-block;
  border: solid 1px #005588;
  background-color: #fee197;
  padding: 0;
}

span.bocAutoCompleteReferenceValue a.bocAutoCompleteReferenceValueCommand *
{
  cursor: pointer;
}

span.bocAutoCompleteReferenceValue a.bocAutoCompleteReferenceValueCommand span,
span.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueCommand span
{
   margin: 0 5px;
   vertical-align: top;  
}

span.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueCommand
{
  display: inline-block;
  margin-top: 3px;
  margin-left: 3px;
}

/* withoutOptionsMenu */
span.bocAutoCompleteReferenceValue span.content.withoutOptionsMenu
{
  right: 0;
}

/* embeddedOptionsMenu */
span.bocAutoCompleteReferenceValue span.DropDownMenuContainer span.DropDownMenuSelect
{
  height: 1.7em;
}
span.bocAutoCompleteReferenceValue span.DropDownMenuContainer input
{
  height: 1.2em;
}
span.bocAutoCompleteReferenceValue span.DropDownMenuContainer span.bocAutoCompleteReferenceValueButton
{
  height: 1.5em;
    margin-top: 0;
}
span.bocAutoCompleteReferenceValue span.DropDownMenuContainer a.bocAutoCompleteReferenceValueCommand
{
    margin-top: 0;
}


/* IE7 only */
*:first-child+html span.bocAutoCompleteReferenceValue span.DropDownMenuContainer span.DropDownMenuSelect
{
  margin-top: 0.1em;
}

span.bocAutoCompleteReferenceValue span.embeddedOptionsMenu span.bocAutoCompleteReferenceValueButton
{
  right: 0.3em;
  top: 0.05em;
  width: 17px;
  left: auto;
}

span.bocAutoCompleteReferenceValue span.embeddedOptionsMenu span.bocAutoCompleteReferenceValueInput
{
  right: 2em;
}

span.bocAutoCompleteReferenceValue span.content.embeddedOptionsMenu
{
  right: 1.25em; /* width of span.DropDownMenuButton + desired space between */
}

/* separateOptionsMenu */
span.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueOptionsMenu span.DropDownMenuSelect
{
  height: 1.5em;
}
/* Mozilla only (Firefox) */
html:not([dummy]) span.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueOptionsMenu span.DropDownMenuSelect
{
  height: 1.45em;
}


span.bocAutoCompleteReferenceValue span.content,
span.bocAutoCompleteReferenceValue span.disabled span.content
{
  position: absolute;
  top: 0;
  width: auto;
  display: inline-block;
  left: 22px; /* width of a.bocAutoCompleteReferenceValueCommand icon + desired space between */
}

span.bocAutoCompleteReferenceValue span.bocAutoCompleteReferenceValueOptionsMenu
{
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 6em; /* Define width of span.bocAutoCompleteReferenceValueOptionsMenu */
}

span.bocAutoCompleteReferenceValue span.content.separateOptionsMenu
{
  right: 6.25em; /* width of span.bocAutoCompleteReferenceValueOptionsMenu + desired space between */
}
span.bocAutoCompleteReferenceValue.disabled span.content.separateOptionsMenu
{
    right: 4.80em; /* width of span.bocAutoCompleteReferenceValueOptionsMenu + desired space between - span.bocAutoCompleteReferenceValueButton */
}

span.content.separateOptionsMenu span.bocAutoCompleteReferenceValueInput,
span.content.withoutOptionsMenu span.bocAutoCompleteReferenceValueInput,
span.content.embeddedOptionsMenu span.bocAutoCompleteReferenceValueInput
{
    display: inline-block;
    width: auto;
    position: absolute;
    left: 0;
    right: 22px;
}


/* embeddedOptionsMenu */
span.content.embeddedOptionsMenu span.bocAutoCompleteReferenceValueInput
{
    right: 0.5em;
}
