/* Style applied to the BocCheckBox. */

.bocCheckBox
{

}

.bocCheckBox.readOnly
{
}

.bocCheckBox.disabled
{
}

.bocCheckBox input
{
  margin-left: 4px;
  padding: 0px;
  vertical-align: middle;
}

.bocCheckBox span
{
  vertical-align: middle;
}

.bocCheckBox img
{
  margin-left: 4px;
  padding: 0px;
}

body.mozilla  .bocCheckBox img,
body.webkit   .bocCheckBox img,
body.opera    .bocCheckBox img,
body.msie       .bocCheckBox img
{
	margin-left: 0px;
} 
