/* Style applied to the BocDateTimeValue. */

span.bocDateTimeValue,
span.bocDateValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  height: 1.7em;
  margin-right: 0.2em;
  min-width: 12em;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  top: 0;
}

span.bocDateValue
{
  min-width:8em;
}

input.bocDateTimeDate
{
  width:100%;
}

input.bocDateTimeTime
{
  width:5em;
}

body.mozilla input.bocDateTimeDate,
body.mozilla input.bocDateTimeTime
{
  height: 1.2em;
  line-height: 1em;
}


span.bocTime24HoursWithSeconds input.bocDateTimeTime,
span.bocTime12HoursWithSeconds input.bocDateTimeTime
{
  width:6em;
}


input.bocDate24HoursWithSeconds,
input.bocDate12HoursWithSeconds
{
  width:6em;
}

span.bocDate24Hours,
span.bocDate12Hours
{
  display:inline;
  left:0;
  min-width:4em;
  position:absolute;
  right:8.5em;
  width:auto;
}

span.bocDateValue span.bocDate24Hours,
span.bocDateValue span.bocDate12Hours
{
  display:inline;
  left:0;
  min-width:4em;
  position:absolute;
  right: 2.8em;
  width:auto;
}

span.bocDate24HoursWithSeconds,
span.bocDate12HoursWithSeconds
{
  display:inline;
  left:0;
  min-width:4em;
  position:absolute;
  right:9.9em;
  width:auto;
}

a.bocPicker24Hours,
a.bocPicker12Hours
{
  position:absolute;
  top: 0.2em;
  right: 5.7em;
}

a.bocPicker24HoursWithSeconds,
a.bocPicker12HoursWithSeconds
{
  position:absolute;
  top: 0.25em;
  right:7em;
}

span.bocDateValue a.bocPicker24Hours,
span.bocDateValue a.bocPicker12Hours
{
  position:absolute;
  top: 0.2em;
  right:0;
}

body.webkit a.bocPicker24Hours,
body.webkit a.bocPicker12Hours,
body.webkit a.bocPicker24HoursWithSeconds,
body.webkit a.bocPicker12HoursWithSeconds,
body.webkit span.bocDateValue a.bocPicker24Hours,
body.webkit span.bocDateValue a.bocPicker12Hours
{
  top: 0.25em;
}

body.webkit span.bocDate24Hours,
body.webkit span.bocDate12Hours
{
  right:8.25em;
}

body.webkit span.bocDate24HoursWithSeconds,
body.webkit span.bocDate12HoursWithSeconds
{
  right:10.1em;
}

body.msie7 a.bocPicker24Hours,
body.msie7 a.bocPicker12Hours,
body.msie7 a.bocPicker24HoursWithSeconds,
body.msie7 a.bocPicker12HoursWithSeconds,
body.msie7 span.bocDateValue a.bocPicker24Hours,
body.msie7 span.bocDateValue a.bocPicker12Hours
{
  top: 0.2em;
}

a.bocPicker24Hours img,
a.bocPicker12Hours img,
a.bocPicker24HoursWithSeconds img,
a.bocPicker12HoursWithSeconds img
{
  border:0;
  text-decoration:none;
}

span.disabled a
{
  cursor: default;
}

span.disabled a img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}


span.bocTime24Hours,
span.bocTime12Hours,
span.bocTime24HoursWithSeconds,
span.bocTime12HoursWithSeconds
{
  position:absolute;
  right:0;
}

body.msie7 span.bocDate24Hours,
body.msie7 span.bocDate12Hours,
body.msie7 span.bocDate24HoursWithSeconds,
body.msie7 span.bocDate12HoursWithSeconds,
body.msie7 span.bocTime24Hours,
body.msie7 span.bocTime12Hours,
body.msie7 span.bocTime24HoursWithSeconds,
body.msie7 span.bocTime12HoursWithSeconds
{
  top: -0.1em;
}

body.webkit span.bocDate24Hours,
body.webkit span.bocDate12Hours,
body.webkit span.bocDate24HoursWithSeconds,
body.webkit span.bocDate12HoursWithSeconds,
body.webkit span.bocTime24Hours,
body.webkit span.bocTime12Hours,
body.webkit span.bocTime24HoursWithSeconds,
body.webkit span.bocTime12HoursWithSeconds
{
  top: -0.2em;
}
