/* Style applied to the BocEnumValue. */

span.bocEnumValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
span.bocEnumValue select
{
  width: 100%;
}

.bocEnumValue.readOnly
{
}

.bocEnumValue.disabled
{
}

.bocEnumValue td
{
  white-space: nowrap;
}

.bocEnumValue td label
{
  vertical-align: top;
}