/* Style applied to the BocMultilineTextValue. */

span.bocMultilineTextValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

span.bocMultilineTextValue .content
{
  position: absolute;
  display: block;
  left: 0;
  right: 0.5em;
  width: auto;
}

.bocMultilineTextValue.readOnly .content
{
  position: static;
}

span.bocMultilineTextValue textarea
{
  width: 100%;
}

.bocMultilineTextValue.readOnly
{
}

.bocMultilineTextValue.disabled
{
}