/*  This style file is only used for documenting the classes. 
    It is not automatically included by the BocMultilineTextValue. */

span.bocMultilineTextValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

span.bocMultilineTextValue textarea
{
  width: 100%;
}

.bocMultilineTextValue.readOnly
{
}

.bocMultilineTextValue.disabled
{
}