span.bocReferenceValue
{
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  min-height: 1.65em;
  max-height: 2em;
  vertical-align: middle;
}

span.bocReferenceValue select
{
   width: 100%;
   display: inline-block;
}

span.bocReferenceValue.disabled img
{
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}

span.bocReferenceValue a.bocReferenceValueCommand
{
  cursor: default;
  display: inline-block;
  margin-top: 1px;
  margin-left: 1px;
  border: solid 1px transparent;
  height: 1.3em; 
}

span.bocReferenceValue a.bocReferenceValueCommand:hover
{
  display: inline-block;
  border: solid 1px #005588;
  background-color: #fee197;
  padding: 0;
}

span.bocReferenceValue a.bocReferenceValueCommand *
{
  cursor: pointer;
}

span.bocReferenceValue a.bocReferenceValueCommand span,
span.bocReferenceValue span.bocReferenceValueCommand span
{
   margin: 0 5px;
   vertical-align: top;  
}

span.bocReferenceValue span.bocReferenceValueCommand
{
  display: inline-block;
  margin-top: 3px;
  margin-left: 2px;
}
span.bocReferenceValue.readOnly span.bocReferenceValueCommand
{
  margin-top: 2px;
}

/* withoutOptionsMenu */
span.bocReferenceValue span.content.withoutOptionsMenu
{
  right: 0;
}

/* embeddedOptionsMenu */
span.bocReferenceValue span.DropDownMenuContainer span.DropDownMenuSelect,
span.bocReferenceValue.disabled span.DropDownMenuContainer span.DropDownMenuSelect
{
  height: 1.7em;
}

span.bocReferenceValue.readOnly span.DropDownMenuContainer span.DropDownMenuSelect
{
  height: 1.6em;
}

/* Mozilla only (Firefox) */
html:not([dummy]) span.bocReferenceValue.readOnly span.DropDownMenuContainer span.DropDownMenuSelect
{ 
  height: 1.55em;
}
html:not([dummy]) span.bocReferenceValue.readOnly span.bocReferenceValueContent span.DropDownMenuSelect
{ 
  height: 1.4em;
}

/* WebKit browsers only (Safari, Chrome) */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    span.bocReferenceValue.readOnly > span.DropDownMenuContainer > span.DropDownMenuSelect
    {
      height: 1.6em !important;
    }

    span.bocReferenceValue.disabled span.DropDownMenuContainer span.DropDownMenuSelect
    {
      height: 1.8em;
    }


    span.bocReferenceValue span.bocReferenceValueOptionsMenu span.DropDownMenuSelect
    {
      margin-top: 0.2em;
    }
    
    span.bocReferenceValue.readOnly > span.bocReferenceValueContent span.bocReferenceValueOptionsMenu span.DropDownMenuSelect
    {
      height: 1.4em;
    }
    
}

span.bocReferenceValue span.content.embeddedOptionsMenu
{
  right: 1.3em; /* width of span.DropDownMenuButton + desired space between */
}

/* separateOptionsMenu */
span.bocReferenceValue span.bocReferenceValueOptionsMenu span.DropDownMenuSelect,
span.bocReferenceValue.disabled span.bocReferenceValueOptionsMenu span.DropDownMenuSelect,
span.bocReferenceValue.readOnly span.bocReferenceValueOptionsMenu span.DropDownMenuSelect
{
  height: 1.4em;
}


span.bocReferenceValue span.content,
span.bocReferenceValue span.disabled span.content
{
  position: absolute;
  width: auto;
  display: inline-block;
  top: 0;
  left: 22px; /* width of a.bocReferenceValueCommand icon + desired space between */
}

span.bocReferenceValue span.bocReferenceValueOptionsMenu
{
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 6em; /* Define width of span.bocReferenceValueOptionsMenu */
}

span.bocReferenceValue span.content.separateOptionsMenu
{
  right: 6.25em; /* width of span.bocReferenceValueOptionsMenu + desired space between */
}
