/* Style applied to the BocTextValue. */

span.bocTextValue
{
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

span.bocTextValue input
{
    width: 100%;
    height: 1.2em;
}

/* IE7 only */
*:first-child+html span.bocTextValue input
{
    height: 1.25em;
}

.bocTextValue.readOnly
{
}

.bocTextValue.disabled
{
}