<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="codeplexReleaseToolSettings" type="CodeplexReleaseTool.Configuration, CodeplexReleaseTool"/>
  </configSections>

  <codeplexReleaseToolSettings url="https://www.codeplex.com/Services/ReleaseService.asmx"/>
  
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
