/*  This style file is only used for documenting the classes. 
    It is not automatically included by the BocBooleanValue. */

.bocBooleanValue
{
}

.bocBooleanValue.readOnly
{
}

.bocBooleanValue.disabled
{
}

.bocBooleanValue.disabled img
{
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.40),
          progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -moz-opacity: 0.4;
}