<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="remotion.web" type="Remotion.Web.Configuration.WebConfiguration, Remotion.Web" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <remotion.web xmlns="http://www.re-motion.org/web/configuration">
  </remotion.web>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="remotion" namespace="Remotion.Web.UI.Controls" assembly="Remotion.Web" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>