/*  Include this style sheet to set the base font-size to 100% of the browser default 
    for pages displayed in standard mode.  */

body
{
  /* Font-Size in body must be in percent. Otherwise IE has a cascading bug. */  
  font-size: 100%;
}

td, 
th
{
  font-size: 100%;
}

/*  Style applied to the title cell  */
/*  Style applied to the sub title cell  */
td.formGridTitleCell,
td.formGridSubTitleCell
{
  font-size: 125%;
}

/*  Style applied to the BocList's in-place menu  */
td.contentMenuRow
{
  font-size: 80%;
}
